body {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
    color: var(--main-text-color);
    background: url("./assets/pexels-tommy-haugsveen-1361215\ \(1\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
}